<p>
  This worksop is based on the R <a href="{{site.dc_site}}">Data Carpentry</a>
  <a href="https://humburg.github.io/r-socialsci-git/">workshop for social scientists</a>. It employs Data Carpentry
  teaching methods and material. The workshop is intended as a follow-up to a regular R Data or Software Carpentry providing a more detailed
  introduction to *ggplot* and how to use it effectively. Its target audience is researchers who have attended a Carpentries R workshop 
  befor or have some practical experience with using R.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what The Carpentries we teach and why,
    please see the paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
